.main-area{
    width: 50%;
}

textarea{
    width: 100%;
}

/* select{
    background-color: #242832;
    border: 1px solid #30394c;
    outline: none;
} */


.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 7px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 4px;
        background: #242832;
        color: #a1bfda;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #a1bfda;
            background: #242832;
        }
        .select select:disabled {
            opacity: 0;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 15px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}