<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="css/geral.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
    <header>
        <div class="header-left">
           <img src="img/logo.png" class="logo">
           <span>GameLog</span> 
        </div>
        
    </header>
    <main>
        <div class="text-index">
            <p style="color: #8f9ca7; font-size: 50px; margin-bottom: 0;">BEM-VINDO</p>
            <p style="color: #8f9ca7; font-size: 18px; margin-bottom: 0;">GameLog sua capsula do tempo do passado e futuro, colocando jogos que deseja salvar para jogar no futuro e jogos que já terminou juntamente de sua analise sobre os mesmos</p>     
        </div>

        <div class="login-div">
            <input placeholder="Email">
            <input placeholder="Senha">
            <button class="login-button">Login</button>
        </div>
    </main>
    <footer>
        <div class="footer-left">
            <ul class="footer-links">
                <li class="footer-li">Sobre</li>
                <li>Tecnologias</li>
                <li>Desenvolvedores</li>
                <li>Contato</li>
            </ul>
            <span class="footer-infos">© GameLog 2023 • v0.01.0</span>
        </div>
    </footer> 
</body>
</html>