<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameLog - Main</title>
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link href="css/geral.css" rel="stylesheet">
    <link href="css/indexSty.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
    <header>
        <a class="header-logo" href="/main?token={{token}}">
                       <img src="img/logo.png" class="logo">
           <span class="header-title">GameLog</span> 
        </a>
        <p>{{usuario.nome}}</p>
    </header>
    <main>

    </main>
    <footer>
        <div class="footer-left">
            <ul class="footer-links">
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/sobre#tecnologias">Tecnologias</a></li>
                <li><a href="/sobre#desenvolvedor">Desenvolvedores</a></li>
                <li><a href="/sobre#contato">Contato</a></li>
            </ul>
            <span class="footer-infos">© GameLog 2023 • v0.01.0</span>
        </div>
    </footer> 
</body>
</html>