<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="css/geral.css" rel="stylesheet">
    <link href="css/sobreSty.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>
    <header>
        <a class="header-logo" href="/">
            <img src="img/logo.png" class="logo">
            <span class="header-title">GameLog</span>
        </a>
    </header>
    <main>
        <div class="main-conteudo">
            <h1 class="secao-titulo">Sobre GameLog</h1>
            <hr style="width: 100%;">
            <p>GameLog é um site que permite você armazenar a sua coleção de jogos, desde jogos que já terminou, irá
                jogar, ou está jogando, para manter uma lista do que planeja jogar, e ao finalizar podendo fazer um
                review proprio sobre o jogo, e podendo vizualizar a qualquer momento. <br> Servindo de uma capsula do
                tempo, e um meio para manter a lista de jogos que deseja jogar.</p>

            <div class="sub-conteudo" id="tecnologias">
                <h1 class="secao-titulo">Tecnologias</h1>
                <hr style="width: 100%;">
                <div>
                    <a href="https://nodejs.org/en"><img src="img/nodeLogo.png" class="logo-tecnologias"></a>
                    <a href="https://expressjs.com/pt-br/"><img src="img/expressLogo.png" class="logo-tecnologias"></a>
                    <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript"><img src="img/jsLogo.png" class="logo-tecnologias"></a>
                    <a href="https://www.npmjs.com/package/mustache-express"><img src="img/mustacheLogo.png" class="logo-tecnologias"></a>
                </div>
            </div>

            <div class="sub-conteudo" id="desenvolvedor">
                <h1 class="secao-titulo">Desenvolvedores</h1>
                <hr style="width: 100%;">
            </div>

        </div>


    </main>
    <footer>
        <div class="footer-left">
            <ul class="footer-links">
                <li><a href="/sobre">Sobre</a></li>
                <li><a>Tecnologias</a></li>
                <li><a>Desenvolvedores</a></li>
                <li><a>Contato</a></li>
            </ul>
            <span class="footer-infos">© GameLog 2023 • v0.01.0</span>
        </div>
    </footer>
</body>

</html>